{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^(path|vite)$",

    "^(react|react-dom|react-router)$",
    "<THIRD_PARTY_MODULES>",

    "^@/(layouts|pages|routes)",
    "^@/(components|hooks)",
    "^@/(lib|services|utils|types)",
    "^@/(data)",
    "^@/(assets|styles)",

    "^@/features/.*/(layouts|pages|routes)",
    "^@/features/.*/(components|hooks)",
    "^@/features/.*/(lib|services|utils|types)",
    "^@/features/.*/(data)",
    "^@/features/.*/(assets|styles)",
    "^@/features",

    "^.+\\.css$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "trailingComma": "all"
}
