@theme {
  --font-manrope: "Manrope", system-ui, sans-serif;

  --animate-fadein: fadein 1s ease-in-out infinite;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 p-0
  }

  :root {
    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/
  }

  html {
    scrollbar-gutter: stable;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply font-manrope antialiased text-base text-gray-950 min-w-80 min-h-screen;
  }
}
